/*
TO KEEP NODE WATCHING, YOU MUST EXECUTE

npm run compile:sass
live-server
*/
/*Universal selector*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  background-color: black;
  font-size: 62.5%; }

/* font-family: "Lato" (if it is available), sans-serif (if the first is not avaliabe); */
body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.58)), url(../img/capa_web_site.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem; }
  .header__logo {
    height: 13rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #f7c873;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  margin-bottom: 1.5rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInRight 3s ease-out; }

@keyframes moveInLeft {
  /* Before the animation */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    transform: translateX(1rem); }
  /* At the end of animation. We could specify something in
    between, such as 80% */
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  /* Before the animation */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  70% {
    transform: translateX(-1rem); }
  /* At the end of animation. We could specify something in
    between, such as 80% */
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  /* Before the animation */
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  /* At the end of animation. We could specify something in
    between, such as 80% */
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(247, 200, 115, 0.5); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(247, 200, 115, 0.5); }

.btn--yellow {
  background-color: #f7c873;
  color: black; }

.btn--animated {
  animation: moveInBottom .7s ease-out .75s;
  animation-fill-mode: backwards; }

/* .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all .4s;
} */
/* .btn-yellow::after {
    background-color: rgb(247, 200, 115);
} */
/* .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
} */
