*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: inherit;
}


html {
    background-color: $color-primary;
    font-size: 62.5%;
}

/* font-family: "Lato" (if it is available), sans-serif (if the first is not avaliabe); */
body {
    box-sizing: border-box;
}